# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.venv

# Streamlit secrets (keep personal API keys private)
.streamlit/secrets.toml

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover

# IDE and Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
